body{
    background-color: black;
}
h1{
    width: 177px;
    height: 35px;
    color: red;
    border-color: aliceblue;
    border-width: 1px;
    border-style: inset;
    margin-left: 430px;
}
.container{
    width: 900px;
    height: 700px;
    border-width: 1px;
    border-style: groove;
    border-color: aliceblue;
    margin-left: 110px;
    position: relative;
}
.menu{
    width: 100px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    border-color: aliceblue;
    position:absolute;
    top: -1px;
    left: -110px;
}
.menu button{
    width: 98px;
    height: 30px;
    text-align: center;
    left: 1px;
}
.screen{
    width: 600px;
    height: 500px;
    border-color: aliceblue;
    border-style: groove;
    border-width: 1px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.stats{
    width: 250px;
    height: 150px;
    border-color: aliceblue;
    border-style: groove;
    border-width: 1px;
    position:absolute;
    right: 10px;
    top: 10px;
}
.bag{
    width: 250px;
    height: 500px;
    border-color: aliceblue;
    border-style: groove;
    border-width: 1px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.input-text{
    width: 600px;
    height: 100px;
    border-color: aliceblue;
    border-style: groove;
    border-width: 1px;
    position:absolute;
    left: 10px;
    bottom: 30px;
}
.input-text input{
    width: 450px;
    height: 80px;
    border-color: aliceblue;
    border-style: groove;
    border-width: 1px;
    background-color: black;
    position: absolute;
    left: 5px;
    top: 8px;
    color: white;
    font-size: xx-large;
}